@import 'variables';

.nav-item .active{
    background-color: $white !important;
    color: $black !important;
}

.nav-item {
    background-color: transparentize($white, .93) !important;
}

.nav-link{
    color: $white !important;
} 