@import 'variables';

html { 
  height:100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    
  background: linear-gradient(
    to right, 
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0) 17.6%,
    $white 17.6%,
    $white 41.6%,
    rgba(0, 0, 0, 0) 41.6%
  ), linear-gradient(
    to top, 
    $black,
    $black 33.3%,
    $white 33.3%,
    $white 43.3%,
    $black 43.3%
  )
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
